@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header {
    
    width: 100;
    height: 100px;
    background-color: #151732;
    color: rgb(255, 255, 255);
   
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    font-family: 'Bebas Neue', cursive;

    text-decoration: none;
    
}

.header h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
}

.header a{
    color:#fff;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
}

.header a + a{
    margin-left: 20px;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
}

   